.boxMonCompte{
    margin: 2%;
    width: 100%;

}

.divMonCompte{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    left: 5%;
    margin: 10px 0;
}


.tabRupture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listeProduitRupture li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid grey;
}

.divInfoMembres h3{
    text-align: center;
    font-size: 30px;
}


.barreNavigation{
    position: sticky;
    width: 30%;
    top: 2%;
    display: block;
    float: left;
}

.divGestion{
    width: 100%;
    margin: 20px 30px;
    padding: 15px;
    background: linear-gradient(70deg, rgb(15, 184, 226), rgb(77, 210, 255));
    border-radius: 15px;
    color: white;
}

.divGestion h3{
    text-align: center;
    font-size: 30px;
}

textarea {
    resize : both;
    min-width : 100px;
    min-height : 100px;
    max-width : 200px;
    max-height : 200px;
}