.boxMonCompte{
    margin: 2%;
    width: 100%;

}

.divMonCompte{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    left: 5%;
    margin: 10px 0;
}


.divAction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.divAction p {
    text-align: center;
    
}

.borderAction {
    background-color:  #ccffff;
    color: grey;
    padding: 20px;
    width: 100%;
    border-radius: 25px;
}



.divContainerAction{
    border-bottom: 1.5px solid #d9d9d9;
    padding: 10px;

    width: 100%;
}

.ajoutProduit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.divInput textarea {
    border-radius: 15px;
    line-height: 1.5;
    resize: none;
    width: 100%;
}


.divInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}

.divAction input {
    width: 40%;
    padding: 10px;
    border-radius: 15px;
    margin: 0 5px;
}
.divContainerAction:last-child{
    border-bottom: 0;
}

.listeProduitRupture li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid grey;
}

.divInfoMembres h3{
    text-align: center;
    font-size: 30px;
}


.barreNavigation{
    position: sticky;
    width: 30%;
    top: 2%;
    display: block;
    float: left;
}

.divGestion{
    width: 100%;
    margin: 20px 30px;
    padding: 15px;
    background: linear-gradient(0.25turn, #66b3ff, #00bfff, #99e6ff);
    border-radius: 15px;
    color: white;
}


.divGestion h3{
    text-align: center;
    font-size: 30px;
}


.inputTaille input{
    background-color: #66d9ff;
    width: auto;
}

.inputTaille input:hover{
    background-color: rgb(128, 179, 255);
}


.button {
    padding: 5px;
    font-size: 18px;
    background : linear-gradient(90deg,  #f2ccff, #d1b3ff);

    border-radius: 100px;
    color: white;
    text-shadow: #a6a6a6 1px 1px, #a6a6a6 -1px 1px, #a6a6a6 -1px -1px, #a6a6a6 1px -1px;
    border-radius: 1.5px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 12px;
}




.ripple {
    opacity: 0;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background-color: rgba(255, 255, 255, .35);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: ripple;
    animation-name: ripple;
}


@keyframes ripple {
    0% {
        opacity: 1;
    }
    100% {
        transform: scale(165);
    }
}






.ficheIdentite{
    background:  white;
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 10px;
}

.ficheIdentite label{
    color: grey;
}

.buttonIcon{
background-color:  #66d9ff;
border: none; 
padding: 12px 16px;
cursor: pointer;
border-radius: 50%;
}

/* Darker background on mouse-over */
.buttonIcon:hover {
    background-color: rgb(128, 179, 255);
}

.modif{
    background:  #cce6ff;
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 10px;

}


/*
.buttonAction a{
    color: #1670f0;
    padding: 30px 60px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    z-index: 1000;
    background: blue;
}

.buttonAction a:before{
    content: '';
    background: green;    
    left: 2px;
    top: 2px;
    bottom: 2px;
    width: 50%;
}

.buttonAction a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, red);
}

.buttonAction a span:nth-child(2){
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, red);
}


*/

















  .buttonAction{
    background: linear-gradient(-30deg, #002233 50%, #2b0808 50%);
    padding: 15px 25px;
    margin: 5px;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    overflow: hidden;
    color: #ccffdd;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .buttonAction::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #99ddff;
    opacity: 0;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
  }
  
  .buttonAction:hover::before {
    opacity: 0.2;
  }
  
  .buttonAction span {
    position: absolute;
  }
  
  .buttonAction span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#1670f0));
    background: linear-gradient(to left, rgba(43, 8, 8, 0), #1670f0);
    -webkit-animation: 2s animateTop linear infinite;
            animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  .buttonAction span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#1670f0));
    background: linear-gradient(to top, rgba(43, 8, 8, 0), #1670f0);
    -webkit-animation: 2s animateRight linear -1s infinite;
            animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  
  .buttonAction span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#1670f0));
    background: linear-gradient(to right, rgba(43, 8, 8, 0), #1670f0);
    -webkit-animation: 2s animateBottom linear infinite;
            animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  
  .buttonAction span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#1670f0));
    background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #1670f0);
    -webkit-animation: 2s animateLeft linear -1s infinite;
            animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }
  
#articleAModifier{
    display: none;
}

#articleASupprimer{
    display: none;
}

.rechercheArticle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}