.contentAll{
    margin: 25px;
}

.divContact{
    display: flex;
    flex-direction: row;
}

.divInfoContact{
    flex-direction: column;
}

.alignementLogo{
    display: flex;
    align-items: center;
}

.divContact i{
    margin: 10px;
}

.lienContact{
    padding: 0;
    margin: 0;
}

.contentInfo{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.contentMap{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    padding: 0 0 0 50px;
}