.containerAll {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

.total{
    width: 100%;
}

.divInfoClient{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.divInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

input {
    width: 65%;
    padding: 10px;
    border-radius: 15px;
    margin: 0 5px;
    background: white;
}

.calendar
{
  background:#fff;
  border-radius:4px;
  color:#222629;
  max-width:400px;
}

.calendar button
{
  border:none;
}

.calendar .header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background:#66d9ff;
  padding: 5px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0;
  width: 100%;
}

.calendar .month
{
  display:inline-block;
  font-weight:bold;
  border: 1px solid violet;
}

.calendar button
{
  background:#99dcf3;
  border-radius: 50%;
  cursor:pointer;
  font-family:Consolas;
  font-size:20px;
  font-weight:bold;
  height:100%;
}

.calendar button:hover
{
  color:#009FB7;
}

.calendar button:first-child
{
/*  float:left;*/
    margin: 0;
}
/*
.calendar button:last-child
{
/*  float:right;*//*
}
*/

.calendar .cell
{
  background:#fff;
  color:#5d5d5d;
  display:inline-block;
  padding:5px 0;
  text-align:center;
  width:calc(100% / 7);
  cursor: pointer;
}

.calendar .cell:hover{
  background:#009FB7;
  border-radius: 5px;
  color: white;
}

.calendar .day
{
    cursor: auto;
    font-size: 10px;
    background: rgb(148, 216, 233);
    padding: 10px 0;
}

.calendar .today
{
  background:rgb(126, 231, 94);
  color:#fff;
  border-radius: 5px;
}




.calendriers{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  border: 2px solid pink;

}

.grandCalendrier{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid red;
}

table{
  padding: 5px;
  width: 100%;
  border: 1px solid grey;
  background: white;
}

table th {
  border: 1px solid grey;
  font-size: 20px;
}

table td {
  border: 1px solid grey;
}


.rectangle{
  width: 50%;
  background: white;
}

.conseillerIndisponible{
  background: #5d5d5d;
}

.legende{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabPriseRDV{
  display: none;
}

.width{
  width: 100%;
}