ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: beige;
}

ul li {
    display: block;
    position: relative;
    float: left;
    background-color: beige;
}

/* This hides the dropdowns */


li ul { 
    display: none; 
}

ul li a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
}

ul li a:hover { 
    background-color: #23a6d5;
    color: black;
}

ul li input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

ul li a.active {
    background-color: #000;
    color: wheat;
}

/* Display the dropdown */


li:hover > ul {
    display: block;
    position: absolute;
}

li:hover li { 
    float: none; 
}

li:hover a { 
    background: #1bc2a2; 
}

li:hover li a:hover { 
    background: #2c3e50; 
}

.main-navigation li ul li { 
    border-top: 0; 
}

.menu{
    width: 100%;
    background-color: beige;
    overflow: auto;
}