.vertical-menu {
    margin-bottom: 30px;
}

.vertical-menu a {
    background-color: white; 
    color: black; 
    display: block; 
    padding: 20px; 
    text-decoration: none; 
    text-align: center;
}

.vertical-menu a:hover {
    background: linear-gradient(70deg, rgb(102, 217, 255), rgb(0, 230, 230));
    color: white;
}

.vertical-menu a.active {
    background: linear-gradient(70deg,rgb(51, 133, 255), rgb(102, 102, 255));
    color: white;
}


.vertical-menu a.home{
    background-color: #0d0d0d;
    color: white;
}






