.icon-bar {
    width: 100%;
    background-color: beige;
    overflow: auto;
}

.icon-bar a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
}

.icon-bar a:hover {
    background-color: #23a6d5;
    color: black;
}

.icon-bar a.active {
    background-color: #000;
    color: wheat;
}

.icon-bar input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.icon-bar-right {
    float: right;
}