.containerAll {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

.total{
    width: 100%;
}

.divInfoClient{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.divInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

input {
    width: 65%;
    padding: 10px;
    border-radius: 15px;
    margin: 0 5px;
    background: white;
}

.calendar
{
  background:#fff;
  border-radius:4px;
  color:#222629;
  max-width:400px;
}

.calendar button
{
  border:none;
}

.calendar .header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  background:pink;
width: 100%;
  border: 1px solid green;
}

.calendar .month
{
  display:inline-block;
  font-weight:bold;
  border: 1px solid violet;
}

.calendar button
{
  background:none;
  cursor:pointer;
  font-family:Consolas;
  font-size:20px;
  font-weight:bold;
  height:100%;
  border: 1px solid red;
}

.calendar button:hover
{
  color:#009FB7;
}

.calendar button:first-child
{
/*  float:left;*/
    margin: 0;
}
/*
.calendar button:last-child
{
/*  float:right;*//*
}
*/

.calendar .cell
{
  background:#fff;
  color:#5d5d5d;
  display:inline-block;
  padding:5px 0;
  text-align:center;
  width:calc(100% / 7);
  cursor: pointer;
}

.calendar .day
{
    cursor: auto;
    font-size: 10px;
    background: gray;
}

.calendar .today
{
  background:#009FB7;
  color:#fff;
}
